<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="fmod.dll" os="osx" target="./OSX/libfmod.dylib"/>
  <dllmap dll="fmod.dll" os="linux" cpu="x86" target="./x86/libfmod.so"/>
  <dllmap dll="fmod.dll" os="linux" cpu="x86-64" target="./x64/libfmod.so"/>
  <dllmap dll="fmodstudio.dll" os="osx" target="./OSX/libfmodstudio.dylib"/>
  <dllmap dll="fmodstudio.dll" os="linux" cpu="x86" target="./x86/libfmodstudio.so"/>
  <dllmap dll="fmodstudio.dll" os="linux" cpu="x86-64" target="./x64/libfmodstudio.so"/>
</configuration>