<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="fmodstudio64.dll" os="osx" target="libfmodstudio.dylib"/>
  <dllmap dll="fmodstudio64.dll" os="linux" cpu="x86" target="./x86/libfmodstudio.so"/>
  <dllmap dll="fmodstudio64.dll" os="linux" cpu="x86-64" target="./x64/libfmodstudio.so"/>
</configuration>
